body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: rgb(49, 49, 49);
  color: white !important;
  min-height: 100vh !important;
  overflow-x: hidden !important;
  width: 100vw !important;
}

.textColor{
  background: linear-gradient(135deg, #f9c0ff, #7a72fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{

  background-color: #101011;
  box-shadow: rgba(128, 126, 129, 0.507) 0px 0px 20px;
  padding: 1rem;
  border-radius: 15px;

}

.techStack {

  color: #c24dd0;
  border: 2px solid #c24dd0;
  padding: 0.5rem 2rem;

  background-image: linear-gradient(135deg, #c24dd0, #7a72fa);
  background: transparent;

}
.css-k9gbuh{
  box-shadow: rgb(28 26 28 / 51%) 0px 0px 100px;

}
.css-k9gbuh{
  box-shadow: rgb(28 26 28 / 51%) 0px 0px 100px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
